<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Last 60 Crimes: Bubble Chart</title>
    {{ script('https://d3js.org/d3.v5.min.js') }}
    {{ script('bubbles') }}
    {{ style('style') }}
</head>

<body>
    
</body>

</html>