<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Last 60 Crimes: Bubble Chart</title>
    {{ script('https://d3js.org/d3.v5.min.js') }}
    {{ script('bubbles') }}
    {{ style('style') }}
</head>

<body>
    <div class="navbar">
        <button class="subtitle" onclick="window.location.href='/'">The Crimelog</button>
        <button class="text" onclick="window.location.href='/bars'">Bars</button>
        <button class="text" onclick="window.location.href='/bubbles'">Bubbles</button>
        <button id ="end-button" class="text" onclick="window.location.href='/heat'">Heat Map</button>
    </div>

</body>
</html>