<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Davidson College Crimes</title>
    {{ script('https://d3js.org/d3.v3.min.js') }}
    {{--  {{ script('bars') }}  --}}
    {{--  {{ script('bubbles') }}  --}}
    {{ style('style') }}

</head>

<body>
    <div class="navbar">
        <button class="subtitle" onclick="window.location.href='/'">The Crimelog</button>
        <button class="text" onclick="window.location.href='/bars'">Bars</button>
        <button class="text" onclick="window.location.href='/bubbles'">Bubbles</button>
        <button id="end-button" class="text" onclick="window.location.href='/heat'">Heat Map</button>    
    </div>

    <div id = "message">
        <div id = "l1" class="typewriter">
            <h1>Hello. This is the Crimelog.</h1>
        </div>
        <div id = "l2" class="typewriter">
            <h1>Each button leads to a different visualization</h1>
        </div>
        <div id = "l3" class="typewriter">
            <h1>of the 60 most-recent crimes reported on campus.</h1>
        </div>
        <div id = "l4" class="typewriter">
            <h1>Hide treasure, not information.</h1>
        </div>
    </div>

</body>

</html>