<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Doc</title>
    {{ script('https://d3js.org/d3.v3.min.js') }}
    {{ script('bars') }}
    {{ style('style') }}
</head>

<body>
</body>

</html>